.title-create-task {
    display: block;
    text-align: center;
    margin-bottom: 3rem;
}

.task-input {
    border: 1px solid lightgrey;
    width: 100%;
    box-sizing: border-box;
    height: 2.1rem;
    padding-left: 10px;
}

.task-input > .select {
    border: 1px solid lightgrey;
    width: 100%;
    box-sizing: border-box;
    height: 2.1rem;
    padding-left: 10px;
}

.container-label-field {
    margin-bottom: 1rem;
}

.container-label-field label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.task-select {
    width: 100%
}

.container-drag-and-drop-upload-file {
    margin-bottom: 10px;
}

.custom-file-input {
    padding: 10px;
    border-radius: 0.8rem;
    background-color: #27aa80;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.custom-file-input:hover {
    background-color: #22936f;
    color: #e0e0e0;
}

.title-drop-file {
    font-weight: bold;
}

.btn-subtask {
    display: inline-block;
    font-weight: bold;
    font-size: 1rem;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.add-subtask {
    background-color: #27aa80;
    color: white;
}

.remove-subtask {
    background-color: #f36464;
    color: white;
}

.title-subtask {
    font-weight: bold;
}

.warning {
    background-color: #fdeda5;
    width: auto;
    float: left;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 1rem;
    color: #967d00;
    font-weight: bold;
    line-height: 0.5rem;
}

.warning .hide {
    text-align: right;
    padding-bottom: 10px;
    cursor: pointer;
}

.icon-subtask {
    width: 20px;
    height: auto
}

.drop-area {
    padding-bottom: 10px;
    border: 2px dashed #3f3f3f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-show {
    background-color: #27aa80;
    color: white;
    cursor: pointer;
}

.btn-show:hover {
    background-color: #239671;
}

.container-subtask-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.container-subtask-content {
    width: 100%;
    max-height: 30vh;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}