.task-comment-input {
    min-width: 99.5%;
    max-width: 99.5%;
    min-height: 15rem;
    max-height: 25rem;
    resize: none;
}

.container-button-send {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}

.button-send {
    background-color: #054F7C;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.button-send:hover {
    background-color: #043d60;
    color: white;
}

.button-send:active {
    background-color: #054b77;
    color: white;
}

.comment-container {
    margin-top: 6px;
    background-color: rgba(246, 246, 246, 0.88);
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    width: 300px;
    cursor: pointer;
    border-radius: 5px;
}

.comment-container:hover {
    background-color: rgba(234, 234, 234, 0.75);
}

.reply {
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
}

.input-container {
    display: flex;
    align-items: baseline;
    gap: 5px;
}


.input-container__input {
    margin: 6px 0 0px 0;
    padding: 5px;
    display: flex;
    border: 1px solid lightgray;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
    background-color: #e7e7e7;
}