.submit {
    background-color: #27aa80;
    color: white;
    border-radius: 0.5rem;
    border: none;
    padding: 1rem;
    width: 100%;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    margin-bottom: 3rem;
}

.submit:hover {
    background-color: #1e8a68;
}

.container {
    width: 100%
}

.container_title {
    width: 100%;
}

.title {
    text-align: center;
}

.input{
    border: 1px solid lightgrey;
    width: 100%;
    box-sizing: border-box;
    height: 2.1rem;
    padding-left: 10px;
}

.input > .select {
    border: 1px solid lightgrey;
    width: 100%;
    box-sizing: border-box;
    height: 2.1rem;
    padding-left: 10px;
}

.container_field {
    margin-bottom: 1rem;
}

.label{
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.hide-submit {

}

.show-submit {

}