.container-info-task {
    /*position: relative;*/
    /*height: 100%;*/
}

.container-title {
    width: 100%
}

.task-description {
    margin-top: 6rem;
}

.icon-file {
    width: 1.5rem;
    height: 1.5rem;
}

.download-icon {
    float: right;
}

::-webkit-scrollbar {
    height: 0.7rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background: #c5c5c5;
    width: 2rem;
    height: 1rem;
    border-radius: 1rem;
}

/* Добавляем тень к ползунку */
::-webkit-scrollbar-thumb:hover {
    background: #a9a9a9;
}

.container-file {
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    min-width: 5rem;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.space-between-elements {
    margin-right: 1rem;
}

.file-title {
    font-style: italic;
    color: #054F7C;
    font-weight: bolder;
}

.file-size {
    color: gray;
    font-style: italic;
}

.task-comment-input {
    display: flex;
    width: 99.5%;
    height: 10rem;
}

.button-send {
    float: right;
    margin-top: 10px;
    background-color: #054F7C;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}