.container-info-task {
    overflow-y: hidden;
}

.container-title {
    width: 100%
}

.task-description {
    margin-top: 6rem;
}

.icon-file {
    width: 1.5rem;
    height: 1.5rem;
}

.download-icon {
    float: right;
}


.container-file {
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    min-width: 5rem;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.space-between-elements {
    margin-right: 1rem;
}

.file-title {
    font-style: italic;
    color: #054F7C;
    font-weight: bolder;
}

.file-size {
    color: gray;
    font-style: italic;
}

.container-title-remove-task {
    float: left;
    border-right: 3px solid #a90000;
    padding-right: 15%;
    padding-top: 0.05rem;
}

.container-icon-remove-task {
    float: right;
}

.container-icon-apply-remove-task {
    float: right;
}

.btn-remove {
    width: 9rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Calibri", serif;
    font-size: 100%;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.remove-task {
    color: white;
    background-color: #d00000;
}

.remove-task-clicked {
    color: white;
    background-color: #70a138;
}

.icon-remove-task {
    width: 1.1rem;
    height: auto;
    padding-top: 0.1rem;
}

.icon-apply-remove-task {
    width: 1.1rem;
    height: auto;
    padding-top: 0.1rem;
    /*margin-right: 1rem;*/
}




/* slide-out-left-title */

.slide-out-left-title {
    animation-name: slide-out-left-title-anim;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

/* slide-out-left-icon */

.slide-out-left-icon {
    animation-name: slide-out-left-icon-anim;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes slide-out-left-title-anim {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-120%);
    }
}

@keyframes slide-out-left-icon-anim {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-250%);
    }
}
