.table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

th {
    border: 1px solid black;
    padding: 10px;
}

td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.item {
    background-color: rgba(0, 255, 255, 0.46);
}

.btn-create-project {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #054F7C;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-create-project:hover {
    background-color: #044369;
}

.container-create-project {
    width: 100%;
    text-align: right;
    margin-bottom: 1rem;
}

tbody > tr:hover {
    background-color: var(--background-color-hover);
    cursor: pointer;
}

.no-select-text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#projects-not-found:hover {
    background-color: var(--background-color);
    cursor: default;
}