.btn-header {
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}

.btn-header-auth {
    background-color: #70a138;
    color: white;
}

.btn-header-logout {
    background-color: #f36464;
    color: white;
}

.user-header {
    font-weight: bold;
    color: white;
    margin-right: 1rem;
}