:root {
    --color-link: dodgerblue;
    --border-input: 1px solid lightgrey;
    --backgroung-color-input-container: #f6f6f6;
}

.container-comment {
    border: var(--border-input);
    padding: 0.4rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.3);
    background-color: var(--backgroung-color-input-container);
}

.container-all-comments {
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}

.content {
    width: 100%;
}

.container-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

.input-edit {
    width: 100%; /* Занимайте 100% доступной ширины внутри родительского компонента */
    max-width: 100%;
    box-sizing: border-box;
}

.container-create-comment {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border: var(--border-input);
    border-radius: 0.5rem;
    padding: 10px;
    background-color: var(--backgroung-color-input-container);
}

.input-create-comment {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: var(--border-input);
    border-radius: 0.2rem;
}

.input-create-comment::-webkit-search-cancel-button {
    height: 10px;
    width: 10px;
    background: red;
}

.button-create-comment {
    background-color: #054F7C;
    color: white;
    border: none;
    cursor: pointer;
    /*white-space: nowrap;*/
}

.button-create-content {
    background-color: #27aa80;
}

.button-on-comment {
    font-weight: bold;
    padding: 0.5rem;
    color: white;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
}

.button-reply {
    background-color: #0a69a4;
}

.button-edit {
    background-color: #e38c0c;
}

.button-remove {
    background-color: #f36464;
}

.button-save {
    background-color: #27aa80;
}

.button-cancel {
    background-color: #f36464;
}

.title-not-auth {
    font-weight: bold;
    color: #7a7a7a;
}

.container-reply-input {
    border: var(--border-input);
    background-color: #f6f6f6;
    border-radius: 0.5rem;
    padding: 0 10px 10px 10px;
}

.container-reply-comment {
    box-sizing: border-box;
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.container-reply {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.reply-label {
    font-weight: bold;
}

.link-auth {
    text-decoration: underline;
    color: var(--color-link);
    cursor: pointer;
}

.container-comment-form {
    width: 100%;
    /*padding-bottom: ;*/
}

.comment-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
}

.container-show-comment {

}

.container-show-comment-header {
    display: flex;
    flex-direction: row;
}

.container-show-username {
}

.container-show-date {
}

.container-show-dote-for-title {
    margin-left: 1%;
    margin-right: 1%;
}

.errors-reply {
    color: #f36464;
    font-weight: bold;
    margin-top: 5px;
    font-size: 0.9rem;
}

.container-tree-comments {}

.container-show-content {
    border: var(--border-input);
    border-radius: 0.5rem;
    padding: 0 1rem;
    margin-top: 1rem;
    background-color: #f6f6f6;
}

.reply-show-or-hide-comments {
    background: transparent;
    border: none;
    font-size: 100%;
    padding: 1% 0;
    color: var(--color-link);
}

.reply-show-or-hide-comments > .arrow {
    /*padding-left: 2%;*/
}
.reply-show-or-hide-comments > .arrow {
    /*padding-left: 2%;*/
}

.is-editing-background {
    background-color: var(--backgroung-color-input-container);
}